<header>
  <h1 class="logo col-md-3 col-9">beatone</h1>
  <nav class="pc col-md-9 d-none d-md-block">
    <ul class="d-flex justify-content-end">
      <li><%= link_to "Profile", { anchor: "profile"}, class: "link" %></li>
      <li><%= link_to "Music video", { anchor: "video"}, class: "link" %></li>
    </ul>
  </nav>
  <div id="icon-menu" class="menu-btn col-3 d-md-none">
    <%=  fa_icon "bars", class: "icon" %>
  </div>
  <div id="overlay">
    <div id="close-btn">
      <%=  fa_icon "times", class: "close" %>
    </div>
  </div>
  <nav id="menu-box">
    <div class="container">
      <ul>
        <li id="menu">Menu</li>
        <li><%= link_to "Profile", { anchor: "profile"}, class: "link" %></li>
        <li><%= link_to "Music video", { anchor: "video"}, class: "link" %></li>
      </ul>
    </div>
  </nav>
</header>
<div id="mainimage">
  <div class="container">
    <div class="message">
      <h1 id="beatone">be  at  one</h1>
      <br>
      <h1 id="main-message">全てを一つにしていく..</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="profile">
      <div class="col-md-8 offset-md-2">
        <h2><span>Profile</span></h2>
        <p>2016年に前身のバンド＝Any Colors Orchestraが活動休止。それぞれの音楽活動、充電期間を経て2017年についに再始動！！<br><br>
          SHOJI（Dr／Vo ）＋Takahiro Kurosawa（Gu／Vo ）＋SUBARU（Ba／Vo）のスリーピースオルタナティブバンド！！<br><br>その音楽性はロックの枠に囚われずアシッドジャズ、ポストロック、ヒップホップ、ソウル、R&B、ブラックミュージック、フュージョンからシティーポップまで広範囲にインスパイアされたまさにオリジナル。３人の鳴らす音でbe at  one、全てをひとつにしていく。</p>
      </div>
    </div>
    <div id="video">
      <div class="col-md-8 offset-md-2">
        <h2><span>video</span></h2>
        <h3>Yello Funk</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MAB3yEHSnak" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <h5 class="footer-message">thank you for comming beatone official web site</h5>
</footer>