@import "bootstrap";
@import "font-awesome";

@media (max-width: 576px) {
  #mainimage {
    .message {
      padding-top: 100px;
      h1 {
        text-align: center;
        &#beatone {
          font-size: 60px;
        }
        &#main-message {
          font-size: 25px;
        }
      }
    }
  }
  #video {
    height: 470px;
  }
  .footer-message {
    font-size: 15px;
  }
}

@mixin title {
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  span {
    border-bottom: 1px black solid;
  }
}

@mixin link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.7;
  }
}

body {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

header {
  border-top: 5px solid darkred;
  border-bottom: 1px solid #dddcd9;
  background-color: white;
  width: 100%;
  height: 72px;
  z-index: 1;
  position: fixed;
  top: 0px;
  h1 {
    font-family: cursive;
    line-height: 67px;
    padding-right: 50px;
    &.logo {
      float: left;
    }
  }
  nav {
    float: left;
    ul {
      line-height: 67px;
      li {
        list-style: none;
        padding-right: 50px;
        font-family: "Barlow", sans-serif;
        &#menu {
          font-size: 23px;
          font-weight: bold;
        }
        a {
          @include link;
        }
      }
    }
  }

  .menu-btn {
    position: relative;
    width: 67px !important;
    border-left: 1px solid #dddcd9;
    color: #333;
    cursor: pointer;
    font-size: 30px;
    height: 100%;
    float: right;
    text-align: center;
    .icon {
     position: relative;
      top: 40%;
      transform: translateY(-50%);
    }
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    opacity: 0.95;
    display: none;
    #close-btn {
      float:right;
      width: 67px !important;
      z-index: 5;
      font-size: 35px;
      position: absolute;
      top: 20px;
      right: 20px;

    }
  }
  nav#menu-box {
    position: fixed;
    top: 0;
    display: none;
    z-index:200;
    font-size: 16px;
    font-weight: 700;
    ul li a {
      display: block;
      @include link;
      &.link {

      }
    }
  }
}

#mainimage {
  margin-top: 72px;
  background: image-url("headphones-690685_1280.jpg");
  background-size: cover;
  max-width: 100%;
  height: 700px;
  .message {
    padding-top: 350px;
  }
  h1 {
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    opacity: 0.7;
    &#beatone {
      font-size: 80px;
      display: none;
    }
    &#main-message {
      display: none;
    }
  }
}

#profile {
  width: 100%;
  h2 {
    @include title;
  }
  h3 {
    padding-bottom: 30px;
  }
  p {
    display: block;
  }
}

#video {
  width: 100%;
  height: 700px;
  h2 {
    @include title;
  }
  h3 {
    padding-bottom: 30px;
  }
}

footer {
  border-bottom: 2px solid #730E15;
  background-color: black;
  width: 100%;
  height: 70px;
  .footer-message {
    line-height: 68px;
    color: white;
    opacity: 0.5;
    margin-bottom: -8px;
    text-align: center;
  }
}